// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment__body {
   margin-bottom: 15px;
  .user {
    color: #333;
  }

  .date {
    font-size:12px;
    color: #999;
  }

  .votes {
    float: right;
  }

  .karma {
    margin-right: 5px;
    color: green;
    &.abusive {
      color: red;
    }
  }
}
